@font-face {
    font-family: 'Nabla', sans-serif;
    src: url(Fonts/Nabla/Nabla-Regular-VariableFont_EDPT,EHLT.ttf);
}

@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url(Fonts\Roboto\Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Pixelify Sans', sans-serif;
    src: url(Fonts\Pixelify\PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Amatic SC', sans-serif;
    src: url(Fonts/Amatic/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: 'Lobster', sans-serif;
    src: url(Fonts/Lobster/Lobster-Regular.ttfT);
}

body {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}


.index_header {
    background-image: url(Media/Images/banner_welcome.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.index_main {
    background-image: url(Media/Images/Samurai_Bebop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.index_footer {
    background-image: url(Media/Images/banner_sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


#body_header_title {
    text-align: center;
    margin: auto;
    padding: 50px;
    visibility: hidden;
}

#navigation_bar_button {
    font-size: 100;
    font-family: 'Nabla';

    background-color: black;
    border: 2px solid white;
    
    padding: 3px;
}

#navigation_bar {
    margin: auto;
}

#border_testing_header {
    border: 5px solid lime;
    background-color: black;
    color: limegreen;

    width: fit-content;
    
    margin: auto;
}

#border_testing_header::first-letter {
    font-size: 50px;
}

#border_testing_paragraph {
    border-top: 5px inset red;
    border-bottom: 5px outset green;
    border-right: 5px groove blue;
    border-left: 5px groove yellow;
    border-radius: 10px;

    margin: auto;
    margin-top: 25px;

    height: auto;
    width: 250px;

    background-color: gray;
    text-align: justify;

    padding: 10px;
}

#border_testing_paragraph::first-line {
    font-size: 25px;
}

#border_testing_paragraph::selection {
    color: limegreen;
    background-color: black;
}

#rgb_slider_box {
    border: 2px solid black;
    background-color: gray;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
}

#rgb_slider {
    font-size: 50px;
    font-weight: 700;

    color: red;
}

#background_color_reset {
    font-size: 20px;
    font-weight: 600;
}

#background_color_reset:hover {
    color: black;
    background-color: green;
    font-size: 20px;
}

#background_color_reset:active {
    color: black;
    background-color: limegreen;
    font-size: 20px;
}

#list_header_test {
    text-align: center;
    
    border-top: 7px groove darkturquoise;
    border-bottom: 7px groove darkturquoise;
    border-right: 7px groove darkturquoise;
    border-left: 7px groove darkturquoise;
    border-radius: 20px;

    background-color: turquoise;

    width: fit-content;

    margin: auto;
}

#shadow_test_terminal-header {
    height: fit-content;
    width: fit-content;
    
    margin: auto;
    margin-top: 100px;

    background-color: black;
    border: 4px solid white;
    border-radius: 5px;

    padding: 50px;

    font-size: 50px;
    
    color: black;
    
    box-shadow: -5px -5px 5px red, 5px 5px 5px blue;
    
    text-shadow: -2px -2px 5px red, 2px 2px 5px blue;
}

#shadow_test_terminal {
    margin: auto;
    margin-top: 50px;

    height: 480px;
    width: 640px;

    background-color: black;
    border: 4px solid forestgreen;
    border-radius: 5px;

    padding: 20px;

    font-size: 25px;

    color: limegreen;

    box-shadow: 5px 5px 5px greenyellow, 5px 5px 5px greenyellow;
}


#unordered_list_test {
    background-color: transparent;
    color: transparent;
    text-shadow: 1px 1px white, -1px -1px black;

    border: 4px dashed brown;

    border-width: 6px;
    border-radius: 10px;
    
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
    
    width: fit-content;
    
    margin: 50px;
}

#unordered_list_test:hover {
    color: black;
    border: 4px dashed brown;
    background-color: burlywood;
    text-shadow: none;
}

#ordered_list_test {
    background-color: transparent;
    color: transparent;
    text-shadow: 1px 1px white, -1px -1px black;

    border: 4px dashed brown;

    border-width: 6px;
    border-radius: 10px;
    
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    font-weight: 750;
    
    width: fit-content;
    
    margin: 50px;
}

#ordered_list_test:hover {
    color: black;
    border: 4px dashed brown;
    background-color: burlywood;
    text-shadow: none;
}

#description_list_test {
    background-color: transparent;
    color: transparent;
    text-shadow: 1px 1px white, -1px -1px black;

    border: 4px dashed brown;

    border-width: 6px;
    border-radius: 10px;
    
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
    
    margin: 50px;
    
    width: fit-content;
}

#description_list_test:hover {
    color: black;
    border: 4px dashed brown;
    background-color: burlywood;
    text-shadow: none;
}

#char_desc {
    color: black;
    font-weight: 700;
}

#char_box {
    border: 5px solid orange;
    background-color: goldenrod;
    display: flow-root;
    padding: 25px;
    margin: 50px;
}

#goku_desc {
    float: right;
    margin-left: 10px;
    background-color: gray;
}

#vegeta_desc {
    float: left;
    margin-right: 10px;
    background-color: purple;
}

.pagination {
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active {
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: gray;
    border-radius: 5px;
}

.comic_bar {
    display: inline-block;
}

.comic_bar button {
    background-color: rgb(150, 125, 125);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.comic_bar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.comic_bar .comic_menu {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(10, 10, 10);
}

.comic_bar:hover .comic_menu{
    display: block;
}

.comic_bar:hover button {
    background-color: lightgray;
}

.comic_bar a:hover {
    background-color: darkgray;
}

.comic_image {

}

.comic_image_div {

}